.history{
    margin-left: 275px;
    background-color: #fff;
    margin-bottom: 0.5%;
    height: 60px;
    border-radius: 5px;
    padding: 5px 20px;
    width: 70%;
}
.header{
    margin-bottom: 25px;
}

.margin-left{
    margin-left: 275px;
}
.trash{
    color: #b16042;
    display: inline;
   
}
.history p{
    
    display: inline;
}